.App {
  font-family: sans-serif;
  text-align: center;
}

.Cell {
  width: 24px;
  height: 24px;
}

.flag-image {
  width: 15px;
  height: 15px;
}

#smiley-button {
  width: 48px;
}

#smiley-button img {
  width: 24px;
}
